<div class="decidim_custom_user_fields__section decidim_custom_user_fields__section--registration">
    <% Decidim::CustomUserFields.custom_fields.collect do |field|
        concat field.form_tag(f)
    end %>
</div>